body{
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;   
}

.banner {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 0 100px 0 100px;
}

#banner-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 24px 0 0 0;
}

#banner-sub {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
}

.banner-left {
    width: 500px;
    flex-wrap: wrap;
}

.banner-right {
    width: 300px;
    flex-shrink: 0;
    padding: 10px;
    border-radius: 20px;
}

#banner-button {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 10px;
    border: 0px;
    color: #f9faf8;
}

.information {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.details{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.detail-box{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.detail-img{
    width: 150px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 8px;
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

#quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 0px;
    width: 500px;
}

#quote-owner {
    align-self: center;
    margin-left: 250px;
    font-weight: bold;
}

.call-to-action{
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    margin: 50px 50px;
    padding: 10px 30px;
    border-radius: 10px;
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
    align-self: center;
    width: 75%;
}

.call-to-action-text{
    color: #f9faf8;
    padding: 0px 50px;
}

#call-button {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 10px;
    border: 2px solid #f9faf8;
    color: #f9faf8;
    height: auto;
    width: fit-content;  
    display: flex;  
    flex-wrap: nowrap;
}

.footer{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
